/*
 brow guy webpage css(style)
 */
 
p {
    font-family: Times;
	font-size: 16px;
	text-align: center;
}

#image-resize {
    max-width: 200px;
	max-height: 250px;
}

.blueish-background-color {
    background-color: #737CA1;
}

.centered{
	width: 100%;
	text-align: center;