/*
 brow guy webpage css(style)
 */
 
 @font-face{
  font-family: "Zimra";
  src: url("/brow-guy/Zimra-Regular.otf") format("opentype");
}

p {
    font-family: Zimra;
	font-size: 16px;
	text-align: center;
}

#image-resize {
    max-width: 200px;
	max-height: 250px;
}

.blueish-background-color {
    background-color: #737CA1;
}
